@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .bg-main, [class*="bg-"] {
  background-color: #000000 !important;
}

.color-1, text-white, p, span, h1, h2, h3 {
  color: #e7e9ea !important;
}

div, border {
  border-color: #272c30 !important;
}